/* main styles */
body{
    margin: 0;
}

.section-subtitle{
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
    color:rgba(18, 20, 29, 1);
}

.section-header{
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 4.5rem;
}

.dark-color{
    color: rgba(18, 20, 29, 1);
}

.card-title{
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.card-subtitle{
    font-weight:400;
    font-size: 1rem;
    line-height: 1.5rem;    
}

.background{
    background: rgba(249, 249, 255, 1);
}

/* navbar styles */

.navbar-brand img {
    width: 3.2rem;
}

.nav-item a{
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-right: 0.625rem;
}

.navbar-btn{
    border-radius: 0.5rem;
    padding: 0.625rem 1.5rem;
    background: rgba(17, 30, 82, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
}

/* main section */



.main-section__header{
    font-weight: 500;
    font-size: 4.5rem;
    line-height: 5.5rem;
}

.main-section__btn, .main-section__btn i{
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.main-section__img img{
    width: 60rem;
}

.main-img__banner{
    background: linear-gradient(148.79deg, #F82C2C 12.9%, #EC874E 29.15%, #E78B20 41.54%, #6C3DF4 54.7%, #FF2633 70.18%, #FF1818 87.21%);
    width: 36rem;
    height:32rem;
    top: 15px;
    left:-2rem;
    z-index: -1;
    filter: blur(6.25rem);
}

/* benefit section */

.benefit-section__card{
    background: rgba(249, 249, 255, 1);
    width: 26rem;
    height: 17.5rem;
    text-align: center;
    padding: 10px;
}

.card-icon img{
    background: linear-gradient(148.79deg, #F82C2C 12.9%, #EC874E 29.15%, #E78B20 41.54%, #FF2633 70.18%, #FF1818 87.21%);
}

/* process section */

.process-card i{
    font-size: 3rem;
}

.btn-telegram{
    padding: 0.625rem 1rem;
}

/* telegram section */

.telegram-section{
    background: linear-gradient(94.25deg, #2B59FF 0%, #BB2BFF 100%);
    border-radius: 0.625rem;
}

/* news section */

.news-card img{
    height: 18.3rem;
}

/* file section */

.file-section__card > img{
    height: 26.25rem;
    width: 19.125rem;
}

.file-section__link{
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

/* footer section */

.footer-section{
    background: rgba(49, 49, 49, 1);
    color: rgba(255, 255, 255, 1);
}

.footer-logo img{
    width: 5rem;
}

.footer-description{
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.footer-list li{
    display: block;
}

.footer-link{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

@media only screen and (max-width:776px){
    .section-subtitle{
        font-weight: 400;
        font-size: 1rem;
        line-height: 1rem;
        color:rgba(18, 20, 29, 1);
    }
    
    .section-header{
        font-weight: 400;
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .main-section__header{
        font-weight: 500;
        font-size: 2rem;
        line-height: 2rem;
    }
    
}